{{ 'main-banner.css' | asset_url | stylesheet_tag }}

<section class="main-banner-section">
    <div class="header-top-bar desktop">
        <div class="main-logo">
            <img class="main-logo__image" src="{{ section.settings.main_logo | img_url: 'medium' }}" alt="Logo" width="auto" height="auto">
        </div>
        <div class="top-bar-desc">
            <p>{{ section.settings.top_bar_content }}</p>
        </div>
        <div class="top-bar-btn">
            <a href="#" class="btn choose-gift-btn">
                {{ section.settings.choose_gift-btn-text }}
                <span class="icon"><img class="logo-img" src="{{ 'arrow.png' | asset_url }}" alt="gift icon img" width="auto" height="auto"></span>
            </a>
        </div>
    </div>

    <div class="header-top-bar mobile">
        <a id="menu-toggle" class="menu-toggle">
            <span class="menu-toggle-bar menu-toggle-bar--top"></span>
            <span class="menu-toggle-bar menu-toggle-bar--middle"></span>
            <span class="menu-toggle-bar menu-toggle-bar--bottom"></span>
        </a>

        <div class="main-logo">
            <img class="main-logo__image" src="{{ section.settings.main_logo | img_url: 'medium' }}" alt="Logo" width="auto" height="auto">
        </div>

        <div class="nav-content">
            <div class="top-bar-desc">
                <p>{{ section.settings.top_bar_content }}</p>
            </div>

            <div class="main-btn">
                <a href="#" class="btn choose-gift-btn">
                    {{ section.settings.choose_gift-btn-text  }}
                    <span class="icon"><img src="{{ 'arrow.png' | asset_url }}" alt="Button Icon" width="auto" height="auto"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-banner-img">
            <img class="main-banner-img__image" src="{{ 'banner-hero-img.png' | asset_url }}" alt="Main Banner Image" width="100%" height="100%">
        </div>

        <div class="content-main">
            <div class="content-main__info content-section">
                <h1 class="content-main__info__heading">{{ section.settings.heading }}</h1>
                <p class="content-main__info__desc">{{ section.settings.description }}</p>
                <a href="#" class="btn btn-secondary">
                    {{ section.settings.shop_now_text }}
                    <span class="icon"><img src="{{ 'arrow-white.png' | asset_url }}" alt="Button Icon" width="100%" height="100%"></span>
                </a>
            </div>

            <div class="content-main__info image-section">
                <img class="main-banner-img__image" src="{{ 'banner-content-img.png' | asset_url }}" alt="Main Banner Image" width="100%" height="100%">
            </div>
        </div>
    </div>

    <div class="banner-bottom-bar bottom-bar-desktop">
        <p>{{ section.settings.banner_bottom_bar_text }}</p>
    </div>

    <div class="banner-bottom-bar bottom-bar-mobile">
        <p>{{ section.settings.banner_bottom_bar_text_mobile }}</p>
    </div>
</section>


{% schema %}
{
    "name": "Main Banner",
    "class": "main-banner-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "main_logo",
            "label": "Logo Image",
        },
        {
            "type": "text",
            "id": "top_bar_content",
            "label": "Top Bar Content",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type": "text",
            "id": "choose_gift-btn-text",
            "label": "Choose Gift Button Text",
            "default": "Choose Gift"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "The Gift Guide"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
        },
        {
            "type": "text",
            "id": "shop_now_text",
            "label": "Shop Now Button Text",
            "default": "Shop Now"
        },
        {
            "type": "text",
            "id": "banner_bottom_bar_text",
            "label": "Bottom Bar Text",
            "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
        },
        {
            "type": "text",
            "id": "banner_bottom_bar_text_mobile",
            "label": "Bottom Bar Text",
            "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
        }
    ],
    "presets": [
        {
            "name": "Main Banner"
        }
    ]
}
{% endschema %}

<script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
        document.body.classList.toggle('nav-open');
        const navContent =  document.querySelector(".nav-content");
        navContent.classList.toggle("open");
        this.classList.toggle("active");
    })
</script>
